/* OVERALL DOCUMENT STRUCTURE */

html, body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Source Code Pro', monospace;
	font-size: 12pt;
	background-color: #edeff0;
}

#header {
	width: 100%;
	background-color: #edeff0;
	padding-left: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 4px 4px 10px grey;
}

#rooms, #buildings, #sites {
	font-size: 20pt;
}

.wrapper {
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	align-items: start;
}


/* NAVIGATIONS */

/* flex item 1*/
nav {
	padding: 25px;
	color: #d6d6d6;
	flex: 1.5;
	height: 100vh;
	background-color: #3e474f;
	overflow-y: auto;
	box-shadow: 0px 0px 10px grey;
}

nav h2 {
	font-size: 24pt;
}

/* MAIN CONTENT */

/* flex item 2*/
main {
	padding: 25px;
	flex: 4;
	overflow-y: auto;
	height: 100vh;
}


/* CODE FORMATTING */
pre {
	padding: 15px;
	color: #d6d6d6;
	background-color: #2e2e2e;
	font-size: 11pt;
	overflow-x: auto;
	tab-size: 0;
}

/* inline code */
code {
	background-color: #f6f7f9;
	font-family: 'Source Code Pro', monospace;
}

/* block code */
figure code {
	padding: 3px;
	font-size: 11pt;
	font-family: 'Source Code Pro', monospace;
	overflow-x: auto;
	display: block;
	background-color: #2e2e2e;
}

span {
	color: #f56a79;
}

/* FIGURES */
figure {
	margin-left: 0px;
	margin-right: 0px;
}

figcaption {
	margin-bottom: 10px;
	font-weight: bold;
}

/* TABLE FORMATTING */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  overflow-x: scroll;
}

/* zebra striping for table rows */
tr:nth-child(even) {
	background-color: #f6f7f9;
}

th, td {
	text-align: left;
	padding: 10px;
}

/* LINKS  */


a {
  outline: none;
  text-decoration: none;
  padding: 1px;
}

a:link {
  color: #d6d6d6;
}

a:visited {
  color: #d6d6d6;
}

a:focus {
  background: #ffd369;
  color: black;
  border-bottom: 3px solid #d6d6d6;
}

a:hover {
  color: black;
  background: #ffd369;
}

a:active {
  border-bottom: 3px solid #d6d6d6;
}


/* MISC */

h1 {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

article header h2 {
	font-size: 24pt;
}

sup {
	font-size: 10pt;
	color: #f56a79;
	font-weight: bold;
}

footer {
	color: red;
	font-weight: bold;
	margin-top: 10px;
	font-size: 9pt;
}

li {
	margin-bottom: 5px;
}

/* Horizontal line separating each endpoint section */
.endpoint {
	border-bottom: 3px solid grey;
}

/* Horizontal line separating each error code section */
.error-code {
	border-bottom: 3px solid grey;
}