/* OVERALL DOCUMENT STRUCTURE */

html, body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Source Code Pro', monospace;
	font-size: 12pt;
	background-color: #edeff0;
}

#header {
	width: 100%;
	background-color: #edeff0;
	padding-left: 2%;
	box-shadow: 4px 4px 10px grey;
	position: fixed;
	display: flex;
	align-items: center;
	height: 70px;
}

#rooms, #buildings, #sites {
	font-size: 20pt;
}

.wrapper {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	align-items: start;
	height: 100%;
}

.wrapper>*{
	flex: 1;
}

.wrapper>nav {
	flex: 0.25;
}


/* NAVIGATIONS */

/* flex item 1*/
nav {
	position: fixed;
	width: 300px;
	color: #d6d6d6;
	top: 0;
	bottom: 0;
	background-color: #3e474f;
	margin-top: 70px;
	overflow-y: scroll;
	padding: 12px;
	padding-left: 2%;
	box-shadow: 0px 0px 10px grey;
}

nav h2 {
	font-size: 12pt;
}

nav li {
	font-size: 10pt;
}
nav>ul>li>ul{
	list-style: none;
	margin-left: -24px;
}

/* MAIN CONTENT */

/* flex item 2*/
main {
	padding: 0 24px; 
	height: 100%;
	margin-left: 350px;
	overflow-x: scroll;
}

section header h3 {
	scroll-margin-top: 70px;
}


section h2 {
	scroll-margin-top: 70px;
}

/* CODE FORMATTING */
pre {
	padding: 15px;
	color: #d6d6d6;
	background-color: #2e2e2e;
	font-size: 11pt;
	overflow-x: auto;
	tab-size: 0;
}

/* inline code */
code {
	background-color: #f6f7f9;
	font-family: 'Source Code Pro', monospace;
}

/* block code */
figure code {
	padding: 3px;
	font-size: 11pt;
	font-family: 'Source Code Pro', monospace;
	overflow-x: auto;
	display: block;
	background-color: #2e2e2e;
}

span {
	color: #f56a79;
}

/* FIGURES */
figure {
	margin-left: 0px;
	margin-right: 0px;
}

figcaption {
	margin-bottom: 10px;
	font-weight: bold;
}

/* TABLE FORMATTING */

table {
  border-collapse: collapse;
  border: 2px solid black;
}

/* zebra striping for table rows */
tr:nth-child(even) {
	background-color: #f6f7f9;
}

th, td {
	text-align: left;
	padding: 10px;
}

/* LINKS  */


a {
  outline: none;
  text-decoration: none;
  padding: 1px;
}

a:link {
  color: #d6d6d6;
}

a:visited {
  color: #d6d6d6;
}

a:focus {
  background: #ffd369;
  color: black;
  border-bottom: 3px solid #d6d6d6;
}

a:hover {
  color: black;
  background: #ffd369;
}

a:active {
  border-bottom: 3px solid #d6d6d6;
}


/* MISC */
article header h2 {
	font-size: 24pt;
}

article header {
	margin-top: 12px;
}

sup {
	font-size: 10pt;
	color: #f56a79;
	font-weight: bold;
}

footer {
	color: red;
	font-weight: bold;
	margin-top: 10px;
	font-size: 9pt;
}

li {
	margin-bottom: 5px;
}

/* Horizontal line separating each endpoint section */
.endpoint {
	border-bottom: 3px solid grey;
}

/* Horizontal line separating each error code section */
.error-code {
	border-bottom: 3px solid grey;
}